@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

section#home a {
  text-decoration: none;
}

section#home header {
  height: 80px;
  color: #4e4d4d;
  padding: 30px;
}

section#home nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 3.5rem 0 3.5rem;
  border-bottom: solid 1px #c4c0c0;
  margin: 0 auto;
}

section#home nav h1 {
  text-transform: uppercase;
  font-size: 1.9rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  padding: 0 2rem 0 2rem;
  border: 1px solid #c4c0c0;
  border-bottom: none;
}

section#home nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

section#home nav ul li {
  padding: 7px;
}

section#home nav ul li a {
  text-transform: uppercase;
  color: rgba(59, 59, 59, 0.966);
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

section#home main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#home main svg {
  width: 25%;
}

section#home main #circle {
  -webkit-animation: circle 8s infinite linear;
          animation: circle 8s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

section#home main #sm-circle1, section#home main #sm-circle2, section#home main #sm-square {
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes sm-circle {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes sm-circle {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

section#home main .landing-text {
  padding: 55px;
  margin-right: 95px;
  background-color: red;
}

section#home main .landing-text p {
  color: rgba(58, 57, 57, 0.877);
  font-size: 1.8rem;
  margin-bottom: 50px;
  letter-spacing: -1px;
  width: 350px;
}

section#home main .landing-text a {
  text-decoration: none;
  padding: 1em 2em 1em 2em;
  background-color: blue;
  background-color: #7e66e9;
  text-transform: uppercase;
  border: solid 2px #f1f1f3;
  color: #fcfcfc;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 0.5em 2.0em 0.5em 2.0em;
  letter-spacing: 2px;
}

section#about {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9fcf9;
}

section#about h1 {
  color: #3a3939;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

section#about .about-txt {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2px;
}

section#about .about-txt p, section#about .about-txt h2 {
  width: 40%;
  font-size: 1.1rem;
}

section#about .about-txt h2 {
  color: #313130;
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin-bottom: 17px;
  line-height: 35px;
  font-weight: 100;
  text-align: justify;
}

section#about .about-txt p {
  margin-bottom: 25px;
  color: #222121;
  line-height: 30px;
  font-size: 1.2rem;
  text-align: justify;
}

section#about .about-txt h3 {
  margin-bottom: 5px;
}

section#about .about-txt a {
  text-decoration: none;
  padding: 1em 2em 1em 2em;
  background-color: blue;
  background-color: transparent;
  text-transform: uppercase;
  border: solid 1px #1f1f1f;
  color: #1b1b1b;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 0.5em 2.0em 0.5em 2.0em;
  letter-spacing: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#services {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0f0f0f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f5f1f1;
}

section#services h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  font-weight: 100;
  color: #d1d1d1;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

section#services img {
  width: 100px;
}

section#services .card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

section#services .card-grid .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  color: #bbb3b3;
}

section#services .card-grid .card p {
  width: 75%;
  margin-top: 25px;
  line-height: 25px;
}

section#services .card-grid .card .card-border {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1919), to(#0a0a0a));
  background: linear-gradient(#1a1919, #0a0a0a);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  padding: 25px;
  border: solid 1px #1f1e1e;
}

section#team {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9fcf9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#team img {
  width: 250px;
}

section#team .team-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

section#team .team-grid .team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

section#contact {
  height: 100vh;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f9fcf9;
}

section#contact h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

section#contact .contact-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

section#contact .contact-txt p {
  width: 400px;
  line-height: 25px;
  text-align: justify;
  color: #b6b2b2;
}

section#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}

section#contact form input {
  width: 395px;
  padding: 1em 2.5em 1em 2.5em;
  background-color: #111111;
  border-radius: 2px;
  border: none;
  border-bottom: solid 2px #363535;
  outline: none;
  color: #c7c3c3;
}

section#contact form textarea {
  background-color: #111111;
  outline: none;
  border: none;
  border-bottom: solid 2px #363535;
  color: #c7c3c3;
  padding: 24px;
}

section#contact form button {
  padding: 1em 2.5em 1em 2.5em;
  background-color: transparent;
  text-transform: uppercase;
  border: solid 1px #e9e5e5;
  color: #f1eeee;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 0.5em 2.0em 0.5em 2.0em;
  letter-spacing: 2px;
}

section#contact form input, section#contact form textarea, section#contact form button {
  margin: 5px;
}

footer {
  background-color: #f9fcf9;
  padding: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

footer h1 {
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
}

footer ul a {
  text-decoration: none;
  color: #333232;
  padding: 4px;
}

footer .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .newsletter a {
  text-decoration: none;
  border: solid 1px #a09d9d;
  padding: 4px;
  color: #5c5a5a;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

footer .newsletter input {
  padding: 13px 0px 6px 12px;
  margin-top: 8px;
  border: none;
  outline: none;
  border-bottom: solid 2px #cecccc;
  background-color: #e7e6e6;
}
/*# sourceMappingURL=style.css.map */